EUREKA_URL=http://eureka-server:8761/eureka
ZIPKIN_URL=http://zipkin:9411/api/v2/spans
OAUTH_JWK_SET_URI=http://oauth-server:8090/oauth2/jwks

USER_DB_URL=jdbc:mysql://mysql-db:3306/usersdb?createDatabaseIfNotExist=true&useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=UTC
USER_DB_USER=usersvc
USER_DB_PASSWORD=usersvcpass
USER_DB_DRIVER=com.mysql.cj.jdbc.Driver

COURSE_DB_URL=jdbc:postgresql://postgres-db:5432/coursesdb
COURSE_DB_USER=coursesvc
COURSE_DB_PASSWORD=coursesvcpass
COURSE_DB_DRIVER=org.postgresql.Driver

GATEWAY_URL=localhost

OAUTH_DB_URL=jdbc:postgresql://postgres-db:5432/coursesdb
OAUTH_DB_USER=coursesvc
OAUTH_DB_PASSWORD=coursesvcpass
OAUTH_DB_DRIVER=org.postgresql.Driver
